################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TIMQuotasExtractor/v16
/TIMQuotasExtractor/bin/Debug
/TIMQuotasExtractor/obj/Debug
/TIMQuotasExtractor/bin/Release
/TIMQuotasExtractor/obj/Release
